@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 206 54% 97%; /* #f3f8fb */
    --foreground: 221 23% 27%; /* #353f54 */

    --card: 208 36% 91%; /* #e0e9f0 */
    --card-foreground: 221 23% 27%; /* #353f54 */

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 221 23% 27%; /* #353f54 */
    --primary-foreground: 206 54% 97%; /* #f3f8fb */

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%; /* #ef4444 */
    --destructive-foreground: 210 40% 98%; /* #f8fafc */

    --border: 214.3 31.8% 91.4%; /* #e2e8f0 */
    --input: 214.3 31.8% 91.4%; /* #e2e8f0 */
    --ring: 214.3 31.8% 91.4%; /* #e2e8f0 */

    --success: 106 33% 52%; /* #6fac5c */
    --failure: 0 84.2% 60.2%; /* #ef4444 */

    --radius: 0.5rem;
  }

  .dark {
    --background: 180 5% 19%; /* #2e3333 */
    --foreground: 0 0% 97%; /* #f7f7f7 */

    --card: 183 16% 27%; /* #394e4f */
    --card-foreground: 0 0% 97%; /* #f7f7f7 */

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 162 23% 86%; /* #d2e3de */
    --accent-foreground: 0 0% 0%; /* #000000 */

    --destructive: 0 84.2% 60.2%; /* #ef4444 */
    --destructive-foreground: 210 40% 98%; /* #f8fafc */

    --border: 186 30% 41%; /* #488187 */
    --input: 162 23% 86%; /* #d2e3de */
    --ring: 186 30% 41%; /* #488187 */

    --success: 106 33% 52%; /* #6fac5c */
    --failure: 0 84.2% 60.2%; /* #ef4444 */

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}