@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 206 54% 97%; /* #f3f8fb */
    --foreground: 221 23% 27%; /* #353f54 */

    --card: 208 36% 91%; /* #e0e9f0 */
    --card-foreground: 221 23% 27%; /* #353f54 */

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 216 91% 67%; /* #5d9af7 */
    --primary-foreground: 0 0% 97%; /* #f7f7f7 */

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%; /* #ef4444 */
    --destructive-foreground: 210 40% 98%; /* #f8fafc */

    --border: 214.3 31.8% 91.4%; /* #e2e8f0 */
    --input: 214.3 31.8% 91.4%; /* #e2e8f0 */
    --ring: 214.3 31.8% 91.4%; /* #e2e8f0 */

    --success: 106 33% 52%; /* #6fac5c */
    --failure: 0 84.2% 60.2%; /* #ef4444 */

    --radius: 0.5rem;
  }

  .dark {
    --background: 214 10% 13%; /* #1e2125 */
    --foreground: 216 17% 77%; /* #bac2ce */

    --card: 69 57% 5%; /* #101205 */
    --card-foreground: 216 17% 77%; /* #bac2ce */

    --card2: 214 9% 15%; /* #24272B */
    --card2-foreground: 216 17% 77%; /* #bac2ce */

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 271 71% 42%; /* #6F1FB8 */
    --primary-foreground: 180 100% 100%; /* #FDFFFF */

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 271 71% 42%; /* #6F1FB8 */
    --accent-foreground: 180 100% 100%; /* #FDFFFF */

    --destructive: 0 79% 45%; /* #CD1818 */
    --destructive-foreground: 180 100% 100%; /* #FDFFFF */

    --border: 216 17% 77%; /* #bac2ce */
    --input: 216 17% 77%; /* #bac2ce */
    --ring: 216 17% 77%; /* #bac2ce */

    --success: 126 93% 30%; /* #059212 */
    --success-foreground: 180 100% 100%; /* #FDFFFF */

    --failure: 0 79% 45%; /* #CD1818 */

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}